body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 10px; /* Reduzido para melhorar a exibição em dispositivos móveis */
    background-color: #f9f9f9;
    color: #333;
    box-sizing: border-box;
}

header {
    background-color: #ffcccc;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #ff6666;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: calc(50% - 10px); /* Ajustado para responsividade */
    height: auto;
}

@media (min-width: 768px) {
    .gallery img {
        width: calc(33.33% - 10px); /* Ajuste para telas maiores */
    }
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #ffcccc;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.border-tulips {
    position: absolute;
    display: flex;
    z-index: -1; /* Para garantir que não sobreponha o conteúdo */
}

.border-tulips.top,
.border-tulips.bottom {
    left: 0;
    right: 0;
    height: 30px; /* Ajuste conforme necessário */
}

.border-tulips.top {
    top: 0;
}

.border-tulips.bottom {
    bottom: 0;
}

.border-tulips.left,
.border-tulips.right {
    top: 0;
    bottom: 0;
    width: 30px; /* Reduzido para melhorar a exibição em dispositivos móveis */
    flex-direction: column;
}

.border-tulips.left {
    left: 0;
}

.border-tulips.right {
    right: 0;
}

.tulip {
    position: relative;
    width: 20px; /* Reduzido para melhorar a exibição em dispositivos móveis */
    height: 30px; /* Reduzido para melhorar a exibição em dispositivos móveis */
    margin: 0 2px; /* Reduzido para melhorar a exibição em dispositivos móveis */
}

.tulip::before,
.tulip::after {
    content: '';
    position: absolute;
    background: pink;
    border-radius: 50% 50% 0 0;
    width: 20px; /* Reduzido para melhorar a exibição em dispositivos móveis */
    height: 30px; /* Reduzido para melhorar a exibição em dispositivos móveis */
}

.tulip::before {
    top: -15px;
    left: -10px;
    transform: rotate(-45deg);
}

.tulip::after {
    top: -15px;
    right: -10px;
    transform: rotate(45deg);
}

.stem {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 3px;
    height: 20px; /* Reduzido para melhorar a exibição em dispositivos móveis */
    background: green;
    transform: translateX(-50%);
}

/* Responsividade para tulipas */
@media (max-width: 768px) {
    .tulip {
        width: 15px;
        height: 25px;
    }

    .tulip::before,
    .tulip::after {
        width: 15px;
        height: 25px;
    }

    .stem {
        width: 2px;
        height: 15px;
    }
}
