body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 50px; /* Adicione padding para evitar sobreposição com as bordas */
    background-color: #f9f9f9;
    color: #333;
    position: relative;
    box-sizing: border-box;
}

header {
    background-color: #ffcccc;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

h1, h2 {
    color: #ff6666;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.gallery img {
    width: calc(33% - 10px);
    height: auto;
}

section {
    margin-bottom: 40px;
}

footer {
    background-color: #ffcccc;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.border-tulips {
    position: absolute;
    display: flex;
    z-index: -1; /* Para garantir que não sobreponha o conteúdo */
}

.border-tulips.top,
.border-tulips.bottom {
    left: 0;
    right: 0;
    height: 50px; /* Ajuste conforme necessário */
}

.border-tulips.top {
    top: 0;
}

.border-tulips.bottom {
    bottom: 0;
}

.border-tulips.left,
.border-tulips.right {
    top: 0;
    bottom: 0;
    width: 50px; /* Ajuste conforme necessário */
    flex-direction: column;
}

.border-tulips.left {
    left: 0;
}

.border-tulips.right {
    right: 0;
}

.tulip {
    position: relative;
    width: 30px;
    height: 50px;
    margin: 0 5px;
}

.tulip::before,
.tulip::after {
    content: '';
    position: absolute;
    background: pink;
    border-radius: 50% 50% 0 0;
    width: 30px;
    height: 40px;
}

.tulip::before {
    top: -20px;
    left: -15px;
    transform: rotate(-45deg);
}

.tulip::after {
    top: -20px;
    right: -15px;
    transform: rotate(45deg);
}

.stem {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 4px;
    height: 30px;
    background: green;
    transform: translateX(-50%);
}
